@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Ubuntu:wght@300&display=swap');
*{
   padding: 0;
   margin:0;
   font-family: 'Roboto', sans-serif;
}
.menu-container{
   background-color: bisque;
   margin-bottom: 15px;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.menu-container_logo{
   background-image: url(https://www.bancoprovincia.com.ar/CDN/Get/logo_2021_S);
   height: 50px;
   width: 200px;
   background-repeat: no-repeat ;
}
.menu-container_links{
   display: flex;
   align-items: center;
}
.menu-container_links ul{
   display:flex;
}
.links_left li{
   list-style: none;
   margin-left:5px;
   margin-right:5px;
}
.link{
   text-decoration: none;
   color:#020202;

}
.link:hover {
   text-decoration: none;
   color:#0202025f;

}
.links_right a{
   display: inline-block;
   height: 40px;
   border: 1px solid black;
   border-radius: 5px 10px 5px 10px;
   line-height: 43px;
   padding-top: 10px;
   padding-bottom: 10px;
}
/*medim*/
@media screen and (max-width: 576px){
   .menu-container_logo{
      flex-direction: row;
   }
}